#toast-container > .toast-error:before {
    display: none;
}

#toast-container > .toast-success:before {
    display: none;
}

#toast-container > .toast-warning:before {
    display: none;
}

.footer {
    position: fixed;
}
