@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inicio de sesión</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Views/LogIn.js"></script>
    <script type="text/javascript" src="~/Scripts/plugins/toastr/toastr.min.js"></script>
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/LoginStyle.css" rel="stylesheet" />
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">CI</h1>
            </div>
            <h3>Bienvenido</h3>
            <p></p>
            <form id="frmLogin" class="m-t" role="form" action="#">
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="form-group">
                        <input id="txtUsuario" type="email" class="form-control" placeholder="Usuario" required="">
                    </div>
                    <div class="form-group">
                        <input id="txtPassword" minlength="5" type="password" class="form-control" placeholder="Contraseña" required="">
                    </div>
                    <button id="toggleSpinners" type="button" onclick="javascript: LogIn();" class="btn btn-primary block full-width m-b">Login</button>
                </div>
            </form>
            <p class="m-t"> <small>Gestión de reservas &copy; @DateTime.Now.Year</small> </p>
        </div>
    </div>

</body>

</html>

@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/codeEditor")
    @Scripts.Render("~/plugins/toastr")
}