@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    @*<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>*@
}

 

 
 <center>


     <iframe src="~/js/lottie.html" width="480" height="500" frameborder="0"></iframe>
    <div class="error-desc">
        Algo no salió como lo esperábamos, estamos trabajando para <br>
        solucionarlo, por favor vuelve a intentarlo más tarde 
    </div>
 </center>
 